a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

body {
	padding-top: 50px;
	font-family: 'Ubuntu';
	font-weight: 300;
	background: white;
	line-height: 1;
	overflow: hidden;
}


/* DASHBOARD */

.items {
	position: absolute;
	/*top: 50px;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.item {
	min-height: 230px;
	margin-bottom: 2px;
	color: white;
	position: relative;
}

@media (max-width: 400px) {
	.item {
		min-height: 170px;
	}
}

.item.big {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.item span.cancel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	font-size: 18px;
	font-weight: normal;
	display: none;
	cursor: pointer;
	padding: 15px 10px;
	text-align: left;
	font-weight: 300;
}
.item.big span.cancel {
	display: block;
	background: white;
	color: gray;
}

.item span.title {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	font-weight: normal;
	padding: 15px 10px;
}
.item.big span.title {
	left: 70px;
	top: 0px;
	right: 70px;
	text-align: center;
	background: white;
	color: black;
}

.item span.close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	font-size: 18px;
	font-weight: normal;
	display: none;
	cursor: pointer;
	padding: 15px 10px;
	text-align: right;
	font-weight: 300;
}
.item.big span.close {
	display: block;
	background: white;
	color: gray;
}

/* ITEM */

.item .top {
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	text-align: center;
	display: none;

	background: white;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.item.big .top {
	display: block;
}

.item .top .top-wrapper {
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
	margin-top: 40px;
	height: 80%;
}

.item .top span.get-on,
.item .top span.get-off {
	font-size: 60px;
	display: block;
	padding-top: 8%;
}
.item .top span.total-time {
	
	display: block;
}

.item .bottom {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.item.big .bottom {
	top: 50%;
}

.item.big .bottom .noUi-handle div {
	display: none;
}