a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

body {
	padding-top: 50px;
	font-family: 'Ubuntu';
	font-weight: 300;
	background: white;
	line-height: 1;
	overflow: hidden;
}


/* DASHBOARD */

.items {
	position: absolute;
	/*top: 50px;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.item {
	min-height: 230px;
	margin-bottom: 2px;
	color: white;
	position: relative;
}

@media (max-width: 400px) {
	.item {
		min-height: 170px;
	}
}

.item span.title {
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 20px;
	font-weight: normal;
}

@media (max-width: 768px) {
	.item span.title {
		top: 10px;
		left: 10px;
	}
}

/* ITEM */

.item .top {
	background: #999999;
	color: white;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	height: 50%;
	text-align: center;
	padding-top: 10%;
	display: none;
}

.item.big .top {
	display: block;
}

.item .top span.get-on,
.item .top span.get-off {
	font-size: 40px;
	line-height: 100px;
}

.item .bottom {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.item.big .bottom {
	top: 50%;
}